menu,
.csd .menu,
.csd .dropdown,
.csd .context-menu {
    border-radius: 0px;
}
* {
    box-shadow: none;
}

.solid-csd {
	border: 1px solid rgb(150,150,150);
	border-radius: 0;
	box-shadow: none;
}

popover contents {
	border: 1px solid rgb(150,150,150);
	border-radius: 0;
	box-shadow: none;
	margin-top: -12px;
}  

popover arrow {
	background: transparent;
	border-color: transparent;
}
